@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
    background: url('/img/background.svg') no-repeat center rgb(25,27,30);
    background-position: center 80px;
    font-family: Rubik, sans-serif;
    margin: 0 0;
    color: #ffffff;
}

#header {
    width: 100%;
    height: 40px;
    background-color: #292c32;
    margin: 0;
    padding: 20px 0;
}

#header-circle {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #357df7;
    border-radius: 50px;
    margin: 0 auto;
}

#header-search {
    width: 40px;
    height: 40px;
    float: right;
    margin-right: 14%;
    background: url("/img/search.png");
}

#footer {
    width: 100%;
    height: 194px;
    background-color: #292c32;
    margin: 73px 0 0 0;
}

#footer .social {
    text-align: center;
    padding: 32px 0;
}

#footer .social a {
    display: inline-block;
    margin-left: 91px;
}
#footer .social :first-child {
    margin-left: 0;
}

#footer .col3 {
    text-align: center;
}

#footer .left {
    float: left;
    width: 30%;
}

#footer .right {
    float: right;
    width: 30%;
}

#footer .middle {
    overflow: hidden;
}

#footer .col3 a {
    color: #ffffff;
    opacity: 0.6;
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
}

#footer input {
    color: rgb(71,110,169);
    background-color: #292c32;
    opacity: 1.0;
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
}

.muted {
    opacity: 0.6;
}

@media only screen and (max-width: 768px) {

    body {
        background: rgb(25,27,30);
    }

    #header {
        height: 32px;
        padding: 16px 0;
    }

    #header-circle {
        height: 32px;
        width: 32px;
    }

    #header-search {
        display:none;
    }

    #footer {
        height: 400px;
    }

    #footer .left {
        width: 50%;
    }

    #footer .middle {
        width: 50%;
        float: left;
    }

    #footer .right {
        width: 100%;
        position: absolute;
        margin-top: 100px;
    }

    #footer .social a {
        margin-left: 64px;
    }

    #footer .social img {
        width: 32px;
        height: 32px;
    }
}
