h1, label, input, button, textarea {
    font-family: Rubik, sans-serif;
    color: #ffffff;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

input, textarea {
    opacity: 0.6;
    border-radius: 8px;
    border: solid 1px rgba(255, 255, 255, 0.6);
    background: rgb(25,27,30);
}

h1 {
    font-size: 26px;
    line-height: 1.5;
    text-align: center;
    margin: 40px 0 40px 0;
    opacity: 0.87;
}

label {
    opacity: 0.87;
    font-size: 14px;
    line-height: 1.5;
    display:block;
    margin: 0 0 8px 0;
}

input {
    width: 323px;
    height: 20px;
    padding: 9px 10px;
    margin: 0;
    font-size: 20px;
    line-height: 1.0;
}

textarea {
    width: 323px;
    height: 158px;
    line-height: 1.0;
    padding: 9px 10px;
    font-size: 20px;
}

button {
    border: none;
    margin: 32px 0 0 0;
    padding: 5px;
    height: 40px;
    width: 345px;
    background-color: #357df7;
    display: block;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 8px;
}

.form-group {
    margin: 24px 0 0 0;
}

.form-container {
    margin: 0 auto;
    width: 345px;
}

.srv-validation-message {
    color: red;
    font-family: Rubik, sans-serif;
    margin-top: 5px;
}


.wait-message {
    color: #ffffff;
}

@media only screen and (max-width: 768px) {

    h1 {
        font-size: 22px;
    }
}
